*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*struttura principale*/
.container{
    display: flex;
    margin: 0 auto;
}
header{
    height: 75px;
    width: calc(100vw - 50px);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

main{
    width: calc(100vw - 50px);
    height: calc(100vh - 150px);
    background-color: rgb(21, 25, 33);
    overflow-y: auto;
}
.sidebar{
    width: 50px;
    height: calc(100vh - 150px);
    background-color: black;
    padding-left: 15px;
}
footer{
    height: 75px;
    width: 100vw;
    background-color: rgb(39, 39, 39);
}

/*stile header*/
header button{
    height: 50%;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    margin-right: 10px;
    
   }
/*stile sidebar*/  
/*mobile*/
.icone-mobile{
  padding: 5px 5px 0 0;
}
.download{
   filter: invert(0.5);
   height: 20px;
}
.profile{
   filter: invert(0.5);
   padding-right: 10px;
}
.logo{
    width: 65%;
    margin-top: 10px;
    display: none;
 }
 .home{
    padding-top: 20px;
    display: none;
 }
ul{
    list-style-type: none;
    color: gray;
    line-height: 25px;
    
 }
 .img-menu{
    height: 20px;
    vertical-align: center;
    color: grey;
    filter: invert(0.5)
 }
 .container-sidebar{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .playlist{
    width: 100%;
    height: 300px;
    padding-top: 20px;
    margin: 0 auto;
    display: none;
    
 }
 .playlist h4{
    color: white;
    margin-bottom: 20px;
 }
 .playlist ul{
    margin-top: 10px;
    line-height: 28px;
    font-size: 15px;
 }
 .fa-plus{
    color: black;
    background-color: gray;
 }
 .utente{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    color:gray;
    display: none;
 }
 .img-download{
    height: 15px;
    filter: invert(0.5);
    
 }
 .utente hr{
    margin-top: 10px;
    width: 85%;
    color: grey;
 }
 .profile strong{
    color: white;
    margin-bottom: 10px;
    vertical-align: super;
 }
 .img-profile{
    height: 25px;
    background-color: grey;
    border-radius: 20px;
 }
 .profile{
    margin-top: 10px;
 }
 /*fine sidebar*/
/*MAIN*/
#recently{
   color: white;
   margin-top: 80px;
}
.nav{
   height: 75px;
   width: 100%;
  z-index: 1;
   position: fixed;
   margin: 0 auto
}
.nav ul{
   list-style-type: none;
   display: flex;
   font-size: 10px;
   justify-content: space-around;
}


.contenuto{
   height: 900px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   margin-top: 10px;
}
.suggeriti{
   height: 200px;
}
.song{
   height: 200px;
   width: calc(98% / 2);
   margin: 0 auto;
   
   
   
}
.song img{
   width: 95%;
   margin-left: 5px;
   position: relative;

}
.text-song{
   text-align: center;
   margin-top: 5px;
}
.text-song h4{
  color: white;
  font-family: sans-serif;
}
.text-song h5{
   color: gray;
   font-family: sans-serif;
 }
h5{
   color: gray;
   padding-left: 10px;
 }
 h3{
   font-family: sans-serif;
   padding-left: 10px;
 }
 /*footer*/
 .container-footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
 }
 .col-20{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-between;
 }

 .col-40{
    padding-top: 5px;
    width: 40%;
    height: 100%;
   
 }
 .brano{
    display: flex;
 }
 .brano img{
    padding: 10px 0 10px 10px;
    height: 70px;
 }
 .brano-text{
    padding: 15px 0 0 10px;
 }
 .brano-text h5{
    color: white;
 }
 .brano-text h6{
    color: grey;
 }
 .icone{
   margin: 5px;
   display: flex;
    padding: 20px;
    color: grey;
    justify-content: space-between;
   
 }
 .fa-heart{
   width: 5px;
 }
 .fa-folder{
   width: 5px;
 }
 .icone-col-40{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    color: white;
 }
 .barra-avanzamento{
    padding-top: 20px;
    display: flex;
 }
 .barra-avanzamento hr{
    width: 80%;
    height: 5px;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: gray;
 }
 .barra-avanzamento span{
    font-size: 10px;
    color: white;
    
 }
 .volume{
    color: white;
    
 }
 .icone-volume{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
 }
 .barra-volume{
    width: 50%;
    padding-top:30px;
   margin-right: 20px;
   display: flex;
   align-items: flex-end;
   flex-direction: row;
   
  
 }
 .barra-volume hr{
    height: 4px;
    color: gray;
    border: 1px solid gray;
    background-color: gray;
    
    
 }
 /*media query*/
 @media screen and (min-width: 768px){
   .sidebar{
      width: 200px;
      height: calc(100vh - 75px);
      background-color: black;
      padding-left: 15px;
  }
  .icone-mobile{
   display: none;
  }
  .login-mobile{
   display: none;
  }
  .home{
   display: block;
  }
  .playlist{
   display: block;
  }
  .utente{
   display: block;
  }
  main{
   width: calc(100vw - 200px);
  }
  header{
   width: calc(100vw - 200px);
  }
   .icone-volume{
      padding-top: 25px;
      flex-direction: row;
   }
 }

 @media screen and (min-width: 992px){
   .sidebar{
      width: 250px;
   }
   main{
      width: calc(100vw - 250px);
   }
   header{
      width: calc(100vw - 250px);
     }
 }